/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* DEBUG:  */
div {
  border: solid 1px;
}

section {
  border: solid red;
}

main {
  border: solid yellow;
}

.avatar {
  width: 10%;
  margin-left: 10px;
}

/* bloccone di pagina */

.blocconedipagina {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* bloccone left */

.blocconeleft {
  width: 40%;
  height: 100%;
}

.stato {
  height: 60px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifiche {
  height: 60px;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bell {
  margin-left: 20px;
}

.searchbar {
  height: 60px;
}

.navlaterale {
  /* display: flex;
  flex-direction: column; */
  height: calc(100% - 180px);
  overflow: auto;
}

.utentelaterale {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BLOCCONE RIGHT *//* IDEA:  *//* IDEA:  */

.blocconeright {
  width: 60%;
  height: 100%;
  /* display: flex; */
}

.utenteselezionatotop {
  height: 60px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatartop {
  width: 7%;
  margin-left: 10px;
}

.mainmessaggi {
  height: calc(100% - 120px);
  overflow: auto;
  background-image: url("//img/sfondochat.jpg");
}

.typemsg {
  /* display: flex;
  justify-content: flex-end; */
  height: 60px;
}
