/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* DEBUG:  */
div {
  border: solid 1px;
}

section {
  border: solid red;
}

main {
  border: solid yellow;
}

.avatar {
  width: 10%;
  margin-left: 10px;
}

/* bloccone di pagina */

.blocconedipagina {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* bloccone left */

.blocconeleft {
  width: 40%;
  height: 100%;
}

.stato {
  height: 60px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icona.prima {
  margin-left: 300px;
}

.icona {
  margin-left: 10px;
  margin-right: 10px;
}

/* NOTIFICATIONS */

.notifiche {
  height: 60px;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.bell {
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
}

.textnotifiche {
  margin-left: 15px;
}

.textnotifiche2 {
  margin-left: 15px;
}

.searchbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: #EEEEEE;
}
.barraricerca {
  width: 80%;
  height: 30px;
  margin-left: 10px;
  border-radius: 100px;
}

.navlaterale {
  /* display: flex;
  flex-direction: column; */
  height: calc(100% - 180px);
  overflow: auto;
}

.utentelaterale {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nome {
  margin-left: 15px;
  font-size: 16px;
}

.selected {
  background-color: #EEEEEE;
}

/* BLOCCONE RIGHT *//* IDEA:  *//* IDEA:  */

.blocconeright {
  width: 60%;
  height: 100%;
  /* display: flex; */
}

/* UTENTE TOP */

.utenteselezionatotop {
  height: 60px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatartop {
  width: 7%;
  margin-left: 10px;
}

.icona.prima2 {
  margin-left: 480px;
}

/* MAIN MESSAGGI */

.mainmessaggi {
  height: calc(100% - 120px);
  overflow: auto;
  background-image: url("../img/sfondochat.jpg");
}

/* TYPE MSG */

.typemsg {
  /* display: flex;
  justify-content: flex-end; */
  height: 60px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.message {
  width: 80%;
  height: 30px;
  margin-left: 10px;
  border-radius: 100px;
}

.sendmsg {
  margin-left: 20px;
  font-size: 20px;
}

/* JS and JQ:  */
.msgsent {
  background-color: #DCF8C6;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  width: 20%;
}

/* PARTE DI TEMPLATING:  */
#template {
  display: none;
}
